<!DOCTYPE html>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content"> 

<h1>Board List Page
    <span>
        <a th:href="@{/board/register}">
            <button type="button" class="btn btn-outline-primary"> 게시물 등록</button>
        </a>
    </span>
</h1>

<table class="table table-striped">
    <!-- 부트스트랩의 스타일 적용 -->
    <thead>
    <tr>
        <th>#</th>
        <th>제목</th>
        <th>작성자</th>
        <th>등록일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "dto:${list}">
    
        <th>
        	<!-- @{링크 표현식} -->
        	<a th:href = "@{/board/read?(no=${dto.no})}">
        		[[${dto.no}]]
        	</a>   	
        </th>
        
        <td>[[${dto.title}]]</td>
        <td>[[${dto.writer}]]</td>
        <td>[[${#temporals.format(dto.regDate, 'yyyy:MM:dd')}]]</td>
        <!-- [[${변수표현식}]] {#타임리프의객체표현} -->
    </tr>
    </tbody>

</table>

    </th:block>

</th:block>

<!-- 타임리프의 인라인 속성  -->
<script th:inline="javascript">

	// doucment: html 문서를 담는 객체
	// ready(): 문서가 로드가 될때 이벤트 처리 (basic.html의 제이쿼리문 삽입 된 덕분에 가능)
	$(document).ready(function(){
		
		// 등록이 끝나고 난 후에 등록처리결과 보여주기
		// 새로운 글의 번호를 모달창으로 출력하기
		
		var msg = [[${msg}]];
		
		if(msg != null){
		alert(msg + "번 글이 등록 되었습니다.");
		}
	});

</script>

