<!DOCTYPE html>
<th:block th:fragment="setContent(content)">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

<h1 class="mt-4">Board Modify Page</h1>

<form>

  <div class="form-group">
    <label >번호</label>
    <input type="text" class="form-control" name="no" th:value="${dto.no}" readonly>
  </div>

  <div class="form-group">
    <label >제목</label>
    <input type="text" class="form-control" name="title" th:value="${dto.title}">
  </div>
  <div class="form-group">
    <label >내용</label>
    <textarea class="form-control" rows="5" name="content" placeholder="내용작성요망" >"[[${dto.content}]]"</textarea>
  </div>
  <div class="form-group">
    <label >작성자</label>
    <input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly>
  </div>
  <div class="form-group">
    <label >등록일</label>
    <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy:MM:dd')}" readonly>
  </div>
  <div class="form-group">
    <label >수정일</label>
    <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy:MM:dd')}" readonly>
  </div>

</form>

<button type="button" class="btn btn-primary modifyBtn">수정</button>

<button type="button" class="btn btn-info listBtn">목록으로</button>

<button type="button" class="btn btn-danger removeBtn">삭제</button>

	<script th:inline="javascript">
		
		// $() 함수 : css 선택자로 HTML 태그를 가져오는 함수
		var form = $("form");
		
		// click 메소드 : 수정버튼을 클릭하면 특정코드를 수행하는 함수
		$(".modifyBtn").click(function(){
			
			//confirm() 메소드 : 수정여부 확인하는 창을 띄우는 함수
			if(!confirm("수정하시겠습니까?")){
				
				return;
			}
			
			// form ~ attr ~ submit : 서버에 게시물 수정요청 폼태그에 강제로 주소달아
			form
				.attr("action", "/board/modify")
				.attr("method", "post")
				.submit();
		});
		
		$(".listBtn").click(function(){
			
			form
				.attr("action", "/board/list")
				.attr("method", "get")
				.submit();
		});
		
		$(".removeBtn").click(function(){
			
			form
				.attr("action", "/board/remove")
				.attr("method", "post")
				.submit();
		});
			

	</script>

</th:block>
    </th:block>

</th:block>
